<nav class="blue darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Local PCs</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li {{#if isIndex}}class="active"{{/if}}><a href="/">Local PCs</a></li>
        <li {{#if isAdd}}class="active"{{/if}}><a href="/add">Add PC</a></li>
      </ul>
    </div>
  </nav>